<html>
<head>
    <title>Books - <%= result[0].title %></title>
</head>
<body>
    <h1>Books</h1>
    <ul>
        <li>Title : <%= result[0].title%></li>
        <li>Author : <%= result[0].author%></li>
        <li>Year : <%= result[0].year_publication %></li>
        <li>Genre : <%= result[0].genres %></li>
    </ul>
</body>

</html>