<html>
<head>
    <title>Artist - <%= result[0].name %></title>
</head>
<body>
<h1>Artist</h1>
<ul>
    <li>Title : <%= result[0].title%></li>
    <li>Genre : <%= result[0].genre%></li>
    <li>Seasons : <%= result[0].season %></li>
    <li>Episode : <%= result[0].episode %></li>
    <li>Aired Years : <%= result[0].aired_years %></li>

</ul>
</body>

</html>