<body bgcolor="#e6e6ff">
<html>
<head>
    <title>Movies</title>
</head>
<body>
<h1>Movies</h1>
<a href="/movies/add">Add New Movies</a> <br />

<br />


<table border="5">
    <tr><th>Title</th><th>Genres</th><th>Year</th><th>Director</th><th>Book Title</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/movies/?title=<%= result[i].title%>"><%= result[i].title%></a></td>
        <td><%= result[i].genres %></td><td><%= result[i].year %></td> <td><%= result[i].director %></td> <td><%= result[i].book_title%></td>

        <td>
            <button onclick="event.preventDefault();window.location.href='/movies/edit2/?title=<%= result[i].title %>'">Edit</button>
            <form action="/movies/delete/">
                <input type="hidden" name="title" id="title" value="<%= result[i].title %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
</body>

</html>