<html>
<head>
    <title>Movies - <%= result[0].title %></title>
</head>
<body>
<h1>Movies</h1>
<ul>
    <li>Title : <%= result[0].title%></li>
    <li>Genres : <%= result[0].genres%></li>
    <li>Year : <%= result[0].year %></li>
    <li>Director : <%= result[0].director %></li>
    <li>Book Title : <%= result[0].book_title %></li>
</ul>
</body>

</html>