<body bgcolor="#e6e6ff">
<html>
<head>
    <title>Artist</title>
</head>
<body>
<h1>Artist</h1>
<br />


<table border="5">
    <tr><th>Name</th><th>Height</th><th>Gender</th><th>Age</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/artist/?name=<%= result[i].name%>"><%= result[i].name%></a></td>
        <td><%= result[i].height %></td><td><%= result[i].gender %></td> <td><%= result[i].age %></td>

    </tr>
    <% } %>
</table>
</body>

</html>