<html>
<head>
    <title>Artist - <%= result[0].name %></title>
</head>
<body>
<h1>Artist</h1>
<ul>
    <li>Name : <%= result[0].name%></li>
    <li>Height : <%= result[0].height%></li>
    <li>Gender : <%= result[0].gender %></li>
    <li>Age : <%= result[0].age %></li>
</ul>
</body>

</html>